# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.env
/front-end-part/node_modules
/front-end-part/.pnp
/front-end-part/.pnp.js

# testing
/front-end-part/coverage

# production
/front-end-part/build

# misc
/front-end-part/.DS_Store
/front-end-part/.env.local
/front-end-part/.env.development.local
/front-end-part/.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

